<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <div class="ak-panel-content">
            <div class="row ak-nocontentpadding">
                <div class="col-sm-3">
                    <div class="ak-encyclo-detail-illu">
                        <img class="img-responsive" src="https://s.ankama.com/www/static.ankama.com/dofus/ng/img/../modules/mmorpg/encyclopedia/jobs/assets/images/26.jpg">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="ak-container ak-panel"> <div class="ak-panel-title">
                            <span class="ak-panel-title-icon"></span>
                            Description du métier
                        </div>
                        <div class="ak-panel-content">
                            <p>L'alchimiste cueille des plantes qui peuvent être utilisées pour fabriquer des potions permettant de regagner des points de vie, de l'énergie ou de se téléporter.</p>
                        </div>
                    </div> </div>
            </div>
        </div>

    </body>
</html>
